* {
  padding:0px;
  margin:0px;
  font-family: 'Roboto', sans-serif;
  color:white;
}
body {
  width:auto;
  height:auto;
  background-image: linear-gradient(to bottom right, #000000, #434969);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.centered {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  text-align: center;
}
