* {
  padding:0px;
  margin:0px;
  font-family: 'Roboto', sans-serif;
  color:white;
}
body {
  background-color: #004aa3;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
