<div class="our-things content-scroll-parent">
    <h1>Our Things</h1>
    <ul class="content-scroll">
        {%- for item in things -%}
            <li class="content-cube">
                <div>
                    <a href="{{item.link}}"><img src="{{item.image}}" alt="{{item.alttext}}" width="200" height="200"></a>
                    <a href="{{item.link}}"><h2>{{item.name}}</h2></a>
                    <p>{{item.bio}}</p>
                </div>
            </li>
        {%- endfor -%}
    </ul>
</div>