* 
{
    padding:0;
    margin:0;
    color: #e1e1e0;
}

body 
{
    background-color: #05070f;
    font-family: Rubik;
}

@font-face {
    font-family: Rubik;
    src: url("../assets/fonts/Rubik-VariableFont_wght.ttf");
} 
