.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    color: white;
    border: 1px solid rgb(255,255,0);
    backdrop-filter: brightness(60%) blur(2px);
    border-radius: 32px;
    z-index: 5 !important;
}

.navbar-links {
    display: flex;
}

.navbar-links ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}

.navbar-links ul li {
    padding: 0 1rem;
}

.navbar-links ul li a {
    color: white;
    text-decoration: none;
}

.navbar-links ul li a:hover {
    color: #ddd;
}

.toggle-button {
    display: none;
    flex-direction: column;
    cursor: pointer;
    display: flex;
}

.toggle-button .bar {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 4px;
}

/* Mobile View */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-links {
        display: none; /* Hide links by default */
        width: 100%;
    }

    .navbar-links.active {
        display: flex; /* Show links when active */
    }

    .navbar-links ul {
        flex-direction: column;
        width: 100%;
    }

    .navbar-links ul li {
        width: 100%;
        text-align: center;
        padding: 1rem 0;
    }
}
