main
{
    padding: 90px 1rem;
    margin: 0 auto;
    max-width: 750px;
}

main img
{
    width: auto;
    height: auto;
    max-width: 100%;
    padding: 1rem;
    border-radius: 25px;
}

.introtitle
{
    text-align: center;
}