---
title: "Neolanders | Home"
description: "Welcome to The Neolanders website!"
layout: layouts/base.html
tags: home
pagination:
    data: things.content
    size: 4
    alias: things
people:
    - 
        name: alizard
        image: ../assets/people_icons/alizard.png
    -
        name: Rustybot
        image: ../assets/people_icons/Rustybot.png
---
<link rel="stylesheet" href="../css/home.css">
<main>
    {% include "partials/navbar.html" %}
    <!--Intro-->
    <div class="intro-text-area">
        <h1>We are The Neolanders</h1>
        <p>Check out the info page for our group's history, or explore the wiki for content about The Ringleaders!</p>
    </div>
    <!--Our Things-->
    {% include "partials/home/content-scroll.html" %}
    <!--Our People-->
    {% include "partials/home/people-scroll.html" %}
    <!--Group Photo-->
    <img src="/../assets/group_photos/MMC24_winners.webp" width="80%">
</main>