 /* scrollbar for chromium & others */
 
 /* width */
 ::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #474591;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #ffff00;
    border-width: 2px 2px #555;
    border-radius: 5px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #fdff8b;
  } 

 /* scrollbar for firefox */

  :root {
    scrollbar-color:  #ffff00 #474591;
    scrollbar-width: thin;
  }