/* Root Styles */
@font-face {
  font-family: Rubik;
  src: url(../assets/Fonts/Rubik-VariableFont_wght.ttf);
}

* {
  padding:0;
  margin:0;
  font-family: Rubik;
  color: rgba(255,255,255,1);
}

html, body {
  margin: 0;
}

/* Body */
body {
  width: 100vw;
  height: 150vh;
  overflow-x: hidden;
  min-height: 100vw;
  /* background-image: linear-gradient(to bottom right, #434969, #000000); */
  background-color: #1e1e1e;
}

/* specific elements */
.deadspace{
  height: 100px;
}

main{
  margin: 0px 0px;
}

/* Intro */
.intro-section{
  text-align: center;
  background-repeat:no-repeat;
  background-size: cover;
}

.intro-text{
  font-size: larger;
}


/* Members List */



