/* Root Styles */
@font-face {
  font-family: Rubik;
  src: url(../assets/Fonts/Rubik-VariableFont_wght.ttf);
}

* {
  padding:0;
  margin:0;
  font-family: Rubik;
  color: rgba(255,255,255,1);
}

html, body {
  margin: 0;
}

/* Body */
body {
  width: 100vw;
  height: 150vh;
  overflow-x: hidden;
  min-height: 100vw;
  /* background-image: linear-gradient(to bottom right, #434969, #000000); */
  background-color: #1e1e1e;
}

/* specific elements */
.deadspace{
  height: 80px;
}

main{
  margin: 0px 0px;
}

/* Intro */
.intro-section{
  padding-top: 20px;
  height: 750px;
  text-align: center;
  background-image: url("../assets/HomeGallery/test_img.webp");
  background-repeat:no-repeat;
  background-size: cover;
}

.intro-text-area{
  width: 50%;
  margin: auto;
  padding-top: 375px;
  font-size: larger;
  text-shadow: 1px 1px 2px black;
}

.backdrop-blur{
  backdrop-filter: blur(8px);
  height: 100%;
  width: 100%;
}

/* Members List */



