/* Root Styles */
@font-face {
  font-family: Rubik;
  src: url(../assets/Fonts/Rubik-VariableFont_wght.ttf);
}

/* Navigation Bar */
ul {
  height: 100%;
  width: 100%;
  list-style-type: none;
  line-height: 200%;
  margin: 0px;
  padding: 0px;
  position: absolute;
}

li a {
  color: rgb(255,255,0);
  padding: 16px 16px;
  text-decoration: none;
  border-radius: 5px;
  display: block;
}

li {
  text-align: center;
  float: left;
}

li a:hover {
  color: white;
}

/* Navigation Bar */
nav {
  position: fixed;
  width: 99%;
  left: 0.2%;
  height: 64px;
  backdrop-filter: brightness(60%) blur(2px);
  border-radius: 32px;
  border: 1px solid rgb(255,255,0);
  top: 1%;
  justify-content: center;
  z-index: 5 !important;
  display: flex;
  font-size: auto;
}

nav.trans
{
  transition: width 0.5s, font-size 0.3s;
}

nav.closed
{
  width: 64px;
  font-size: 0px;
}

nav.closed > ul > li.item 
{
  display: none;
}

nav.closed > ul > li.item > a
{
  color: transparent;
}


.ringSpin {
  width: 32px;
  height: 32px;
  background: url(../assets/NeolandStatic.webp);
  background-size: 100%;
  border-radius: 50%;
  box-shadow: 0px 0px 0 1px rgba(255,255,0,1);
  backdrop-filter: brightness(60%) blur(2px);

}

.ringSpin:hover {
  background: url(../assets/NeolandSpin.webp);
  background-size: 100%;
}
